* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-image: url('http://i.imgur.com/gRNfCU6.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-color: #040404;
}

.main-container {
    width: 55%;
    margin-top: 2%;
    margin-left: 5%;
    background: #040404;
    padding: 5px;
    border: 1px solid #00e700;
    border-radius: 10px;
}

.main-container h1 {
    text-align: center;
}

h1 {
    font-family: Raleway, Helvetica Neue, Helvetica, Arial, Sans Serif;
    color: #00e700;
    font-weight: 100;

}

.text-box {
    margin: 0 auto;
    width: 40%;
    border-top: none;
    border-right: transparent solid 1px;
    border-bottom: none;
    animation: blink-empty 2s infinite;
    border-left: transparent solid 1px;
    background-color: #040404;
}

.text-box:focus {
    box-shadow: none;
    border-top: none;
    border-right: 1px solid #00e700;
    border-bottom: none;
    border-left: 1px solid #00e700;
}

input {
    border: none;
}

@keyframes blink-empty {
    50% {border-left: 1px solid #00e700;}
    50% {border-right: 1px solid #00e700;}
}

hr {
    border-color: #00e700;
}

.date {
    color: #777777;
}

.anon {
    color: khaki;
}

ul {
    list-style-type: none;
}

li {
    text-align: left;
    margin-left: 2%;
    font-family: Fixedsys;
    font-size: 17px;
    font-weight: lighter;
    padding: 7px;
    color: #00e700;
}

ul :first-child {
    margin-top: 20px;
}